
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    section{
        display: flex;
        box-shadow: 2px 5px 10px black;
        width: 60%;
        margin-left: 200px;
        height: 60vh;
        justify-content: space-between;
        border-radius: 16px;
        margin-top: 100px;
    }
    .left{
        text-align: center;
        width: 50%;
        padding: 25px;
        margin: 20px;
    }
    .in{
        font-size: 30px;
    }
    .info1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .login{
        margin-bottom: 10px;
        padding-bottom: 10px;
        
    }
    .email {
        margin-bottom: 10px;
        padding: 10px;
        width: 70%;
        border: none;
        background: whitesmoke;
    
    }
    .password{
        margin-bottom: 10px;
        padding: 10px;
        width: 70%;
        border: none;
        background: whitesmoke;
    }
    .btn1{
        margin-top: 10px;
        padding: 12px;
        border-radius: 17px;
        border: none;
        background: orangered;
        color: azure;
        text-decoration: none;
        width: 40%;
        margin-bottom: 10px;
    }
    .btn1 a{
        color: azure;
        text-decoration: none;
    }
    .right{
        background: rgb(245, 74, 102);
        width: 50%;
    }
			.right{
			height: auto;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
    .info2{
        margin-bottom: 20px;
        font-size: 30px;
        color: azure;
    }
    .info3{
        color: beige;
        width: 40%;
        margin-left: 130px;
        margin-bottom: 20px;
    }
    .btn2{
        background: none;
        width: 25%;
        border-radius: 20px;
        padding: 10px;
        border-color: azure;
    }
    .btn2 a{
        color: azure;
        text-decoration: none;
    }
	@media (max-width: 900px){
		section{
			flex-wrap: wrap;
			height: auto;
			width: auto;
			margin-left: 3px;
			margin-top: 0;
			margin-bottom: 0;

		}
		.right, .left{
			width: 100%;
		}
		.right{
			height: auto;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		.right button{
			margin-bottom: 13px;
		}
		.login input{
			width: 100%;
		}
		.login{
			width: 100%;
		}
	}
